h1{
    background-color: rgb(209, 174, 242);
    color: rgb(95, 9, 175);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

ul{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(209, 174, 242);
    font-weight: bold;
}
li{
    padding: 4px;
}